@import "bootstrap/scss/bootstrap";

.footer-dev-icon {
  width: 20px;
  height: 20px;
}

.footer-heart-icon {
  width: 20px;
  height: 20px;
  color: #e55353;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}